/* loading */

.customFontSizeLarge {
    font-size: 60 !important;
}

.customFontSizeNormal {
    font-size: 40 !important;
}

#logo {
    width: 80%;
}

.screenbg {
    background-color: #ebf7f6;
}

.centerEle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    left: 0;
    right: 0;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/
    ;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}


/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    /*  */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}